#wows.transitions-enabled
	- @wows.each do |wow|
		.box.panel.panel-default
			= link_to (image_tag wow.image.url), wow
			.panel-body
				%h2= link_to wow.title, wow
				%p.user
				Submitted by
				= wow.user.email